.accordion {
  border: none;
}

.accordion-body {
  background-color: #383333;
}

.the-propitius img.hotel-img {
  max-width: 30vw;
}

.propitius-floor-plan img {
  max-height: 80vh;
}

section.container.pt-2.pb-4.d-block.d-sm-none div.card.shadow-sm {
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}

section.container.pt-2.pb-4.d-block.d-sm-none div.card.shadow-sm .image-text {
  /* position: relative;
  vertical-align: middle;
  z-index: 1; */
}

section.container.pt-2.pb-4.d-block.d-sm-none div.card.propitius-hotel-card {
  aspect-ratio: 1/1;
  background-image: url(../img/smaller-placeholder-home-hotel-image.webp);
}

section.container.pt-2.pb-4.d-block.d-sm-none div.card.dire-town-card {
  aspect-ratio: 4/3;
  background-image: url(../img/smaller-dire-town-photo-2.webp);
}

section.container.pt-2.pb-4.d-block.d-sm-none div.card.arthur-wilson-card {
  aspect-ratio: 4/5;
  background-image: url(../img/smaller-young-arthur-wilson.webp);
}

/* This media query will apply to all devices with screens
   that have a width of 992 pixels or more*/

@media (min-width: 1400px) {
  .the-propitius img.hotel-img {
    max-width: 25vw;
  }
}
