.accordion {
  border: none;
}

.accordion-body {
  background-color: #383333;
}

.the-propitius img.hotel-img {
  max-width: 30vw;
}

.propitius-floor-plan img {
  max-height: 80vh;
}

section.container.pt-2.pb-4.d-block.d-sm-none div.card.shadow-sm {
  aspect-ratio: 1/1;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}

section.container.pt-2.pb-4.d-block.d-sm-none div.card.propitius-hotel-card {

  background-image: url(../img/smaller-placeholder-home-hotel-image.webp);
}

section.dm-sm-none div.card.propitius-hotel-card {
 height: 25vh;
 background-image: url(../img/smaller-placeholder-home-hotel-image.webp
}

/* This media query will apply to all devices with screens
   that have a width of 992 pixels or more*/

@media (min-width: 1400px) {
  .the-propitius img.hotel-img {
    max-width: 25vw;
  }
}
