html,
body {
  height: 85%;
}

.bg_image_1 {
  position: relative;
}

.bg_image_1::after {
  background: #9d9086;
  background-image: url(../img/placeholder-home-hotel-image.png);
  background-size: calc(max(100%, 1000px));
  background-repeat: repeat;
  background-position: top;
  content: "";
  filter: brightness(0.1);
  inset: 0;
  opacity: 0.7;
  position: absolute;
  z-index: -1;
}

/* X-Small devices (portrait phones, less than 576px) */

/* No media query for `xs` since this is the default in Bootstrap */

/* Small devices (landscape phones, 576px and up) */
/* @media (min-width: 576px) { ... } */

/* Medium devices (tablets, 768px and up) */
@media (min-width: 768px) {
  .bg_image_1::after {
    background-image: url(../img/placeholder-home-hotel-image.png);
  }
}

/* Large devices (desktops, 992px and up) */
/* @media (min-width: 992px) { ... } */

/* X-Large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {
  .bg_image_1::after {
    background-image: url(../img/placeholder-home-hotel-image.png);
  }
}
